<html>
  <head>

    <meta charset="utf-8">

    <title>Patrick G. Klingemann - Resume</title>
    <meta name="description" content="Resume">
    <meta name="author" content="Patrick Klingemann">

    <link href="stylesheets/resume.css" rel="stylesheet" type="text/css" media="screen, print">
    <link href="stylesheets/print.css" rel="stylesheet" type="text/css" media="print">

  </head>
  <body>

    <div id="container">
      <div id="resume" class="content">
        <%= yield %>
      </div>
    </div>

    <script src="javascripts/libraries/jquery-1.7.2.min.js"></script>
    <script src="javascripts/libraries/mustache.min.js"></script>
    <script src="javascripts/libraries/underscore-min.js"></script>
    <script id="header_template" type="text/html">
      <%= partial 'header' %>
    </script>
    <script id="education_template" type="text/html">
      <%= partial 'education' %>
    </script>
    <script id="experience_template" type="text/html">
      <%= partial 'experience' %>
    </script>
    <script id="languages_template" type="text/html">
      <%= partial 'languages' %>
    </script>
    <script id="links_template" type="text/html">
      <%= partial 'links' %>
    </script>
    <script src="javascripts/resume.js"></script>

  </body>
</html>
